<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="IdentityPort" value="4" /><!--身份证读卡器端口号-->
    <add key="TX_TYPE" value="3"/><!--打印机端口类型-->
    <add key="TX_Port" value="3"/><!--打印机端口号-->
    <add key="QRURL" value="http://60.205.210.232:8037/CodeService.asmx/wxTicket"/><!--根据二维码获取旅客信息-->
    <add key="SeatReplacement" value="Server=.;Database=SeatReplacement;uid=sa;pwd=12345678;"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>